<h2><%= t('helpers.titles.edit', default: "Edit %{model}", model: t('users.user', default: 'user').humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal user" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group field">
    <%= f.label t('users.name', default: "name") %><br />
    <div class="controls">
      <%= f.text_field :name, autofocus: true %>
    </div>
  </div>

  <div class="control-group field">
    <%= f.label t('users.email', default: "email") %><br />
    <div class="controls">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('devise.confirmations.currently_waiting_confirmation', default: "Currently waiting confirmation for: %{email}.", email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="control-group field">
    <%= f.label t('users.password.password', default: "password") %> <i>(<%= t('users.password.leave_blank', default: "leave blank if you don't want to change it") %>)</i><br />
    <div class="controls">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="control-group field">
    <%= f.label t('users.password.password_confirmation', default: "password confirmation") %><br />
    <div class="controls">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="control-group field">
    <%= f.label t('users.password.current', default: "current password") %> <i>(<%= t('users.password.current_password_needed', default: "we need your current password to confirm your changes") %>)</i><br />
    <div class="controls">
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('helpers.links.update', default: "Update"), class: 'btn btn-primary' %>
  </div>
<% end %>

<h3><%= t('devise.custom.cancel_account', default: "Cancel my account") %></h3>

<p><%= t('devise.custom.unhappy', default: "Unhappy?") %> <%= button_to t('devise.custom.cancel_account', default: "Cancel my account"), registration_path(resource_name), data: { confirm: t('helpers.links.confirm', default: "Are you sure?") }, method: :delete %></p>

<%= link_to t('helpers.links.back', default: "Back"),
            :back, class: 'btn btn-default' %>
