<%= form_for @competence_matrix, :html => { :class => "form-horizontal competence_matrix" } do |f| %>

    <% if @competence_matrix.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@competence_matrix.errors.count, "error") %> prohibited this competence_matrix from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @competence_matrix.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@competence_matrix[:name]) %>
  </div>
  <div id='empty-spaces-loader'></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Ability.model_name.human.pluralize %></th>
        <th><%= t '.destroy', :default => t("helpers.links.destroy") %></th>
      </tr>
    </thead>
    <tbody id="abilities">
      <%= f.fields_for :abilities do |ff| %>
        <tr>
          <td>
            <div class="controls"><%= ff.text_field :name, :class => 'form-control' %></div>
          </td>
          <td>
            <div class="controls"><%= ff.check_box :_destroy%></div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2"><button add-ability="true" type='button' class='btn btn-primary'>Add ability</button></td>
      </tr>
    </tbody>
  </table>
  <%= error_span(@competence_matrix[:abilities]) %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= KnowledgeArea.model_name.human.pluralize %></th>
        <th><%= t '.destroy', :default => t("helpers.links.destroy") %></th>
      </tr>
    </thead>
    <tbody id="knowledge-areas">
      <%= f.fields_for :knowledge_areas do |ff| %>
        <tr>
          <td>
            <div class="controls"><%= ff.text_field :name, :class => 'form-control' %></div>
          </td>
          <td>
            <div class="controls"><%= ff.check_box :_destroy%></div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2"><button add-knowledge-area="true" type='button' class='btn btn-primary'>Add knowledge area</button></td>
      </tr>
    </tbody>
  </table>
  <%= error_span(@competence_matrix[:knowledge_areas]) %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            competence_matrices_path, :class => 'btn btn-default' %>
<% end %>
