<%- model_class = CompetenceMatrix -%>
<div class="page-header">
  <h1><%= t("matrices.competence_matrices", default: "competence matrices").titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("matrices.name", default: "name") %></th>
      <th><%= t('helpers.actions', default: "Actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @competence_matrices.each do |competence_matrix| %>
      <tr>
        <td><%= link_to competence_matrix.name, competence_matrix_path(competence_matrix) %></td>
        <td>
          <%= link_to t('helpers.links.edit', default: "Edit"),
                      edit_competence_matrix_path(competence_matrix), class: 'btn btn-default btn-xs' %>
          <% if destroy? competence_matrix %>
            <%= link_to t('helpers.links.destroy', default: "Delete"),
                      competence_matrix_path(competence_matrix),
                      method: :delete,
                      data: { confirm: t('helpers.links.confirm', default: 'Are you sure?') },
                      class: 'btn btn-xs btn-danger' %>
          <% else %>
            <%= t('destroy.cannot_be_deleted', default: "Cannot delete this %{model}.", model: t('matrices.matrix', default: "matrix")) %> <%= link_to t('destroy.see_why', default: "See why."), competence_matrix_users_path(competence_matrix) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('helpers.links.new', default: "New"),
            new_competence_matrix_path,
            class: 'btn btn-primary' %>
<%= link_to t('helpers.links.back', default: "Back"),
            :back,
            class: 'btn btn-default' %>