<%- model_class = CompetenceMatrix -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @competence_matrix.name %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2"><%= KnowledgeArea.model_name.human.pluralize.titleize %></th>
    </tr>
  </thead>
  <tbody>
    <% @competence_matrix.knowledge_areas.each do |knowledge_area| %>
      <tr>
        <td><%= knowledge_area.name %></td>
        <td><% if destroy? knowledge_area %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                competence_matrix_destroy_knowledge_area_path(@competence_matrix, knowledge_area),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :key => "value", :default => 'Are you sure?')) },
                :class => 'btn btn-danger btn-xs' %>
        <% else %>
          <%= link_to "Why can not I delete this knowledge area?",
                competence_matrix_knowledge_area_users_path(@competence_matrix, knowledge_area) %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3"><%= Ability.model_name.human.pluralize.titleize %></th>
    </tr>
  </thead>
  <tbody>
    <% @competence_matrix.abilities.each do |ability| %>
      <tr>
        <td><%= ability.name %></td>
        <td><%= link_to t('.edit', :default => "Edit competence values"),
                      edit_competence_matrix_ability_path(@competence_matrix, ability), :class => 'btn btn-default btn-xs' %>
        <% if destroy? ability %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  competence_matrix_destroy_ability_path(@competence_matrix, ability),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :key => "value", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger btn-xs' %></td>
        <% else %>
          <%= link_to "Why can not I delete this ability?",
                competence_matrix_ability_users_path(@competence_matrix, ability) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3">Competence values</th>
    </tr>
    <tr>
      <th>Competence value</th>
      <th>Rank</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @competence_matrix.values.each do |value| %>
      <tr>
        <td><%= value.value %></td>
        <td><%= value.rank %></td>
        <td>
          <% if destroy? value %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                competence_matrix_destroy_value_path(@competence_matrix, value),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :key => "value", :default => 'Are you sure?')) },
                :class => 'btn btn-danger btn-xs' %></td>
          <% else %>
            <%= link_to "Why can not I delete this competence value?",
                competence_matrix_value_users_path(@competence_matrix, value) %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_competence_matrix_path(@competence_matrix), :class => 'btn btn-default' %>
<% if destroy? @competence_matrix %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                competence_matrix_path(@competence_matrix),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :key => "value", default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% else %>
  <br/>
  <br/>
  <%= link_to "Why can not I delete this competence matrix?",
                competence_matrix_users_path(@competence_matrix) %>
  <br/>
  <br/>
<% end %>
