<div class="row">
  <div class="col-lg-1">
    <strong><%=  t('searches.composition', default: 'Formula').titleize %></strong>
  </div>
  <div class="col-lg-6">
    <%= @search_criteria.formula %>
  </div>
  <div class="col-lg-1">
    <%= form_for @search_criteria, { url: search_path, method: :post } do |f| %>
      <%= render partial: 'hidden_fields', locals: { f: f } %>
      <%= submit_tag t('searches.search', default: "Search"), :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<br/>
<div class="row">
  <%= form_for @search_criteria, { url: search_save_path, method: :post } do |f| %>
    <%= render partial: 'errors' %>
    <%= render partial: 'hidden_fields', locals: { f: f } %>
    <div class="col-lg-1">
      <strong><%=  f.label t('searches.name', default: 'Name') %></strong>
    </div>
    <div class="col-lg-6">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-lg-1">
        <%= submit_tag t('helpers.links.save', default: "Save"), :class => 'btn btn-default' %>
    </div>
  <% end %>
</div>