<%- model_class = SearchCriteria -%>
<div class="page-header">
  <h1><%= t('searches.search', default: "search").titleize %></h1>
</div>

<%= render partial: 'formula' %>
<br/>

<div class="row">
  <div class="col-lg-8">
    <div class="well">
      <h3><%= t('searches.add_new_criterium', default: "Add new criterium") %></h3>

      <%= form_for @search_criteria, url: search_knowledge_area_ability_and_operator_step_path, method: :post, html: { class: "form-horizontal search" } do |f|%>
        <%= render partial: 'hidden_fields', locals: { f: f } %>
        <%= render partial: "scope", locals: { f: f } %>
        <% if @search_criteria.composition.present? %>
          <dl class="dl-horizontal">
            <dt><strong><%= f.label t('searches.conective', default: 'conective').humanize %></strong></dt>
            <dd><%= select_tag :conective, options_for_select(conectives) %></dd>
          </dl>
        <% end %>

        <dl class="dl-horizontal">
          <dt><strong><%= f.label t('matrices.competence_matrix', default: 'competence matrix').humanize %></strong></dt>
          <dd><%= select_tag :competence_matrix_id, options_from_collection_for_select(@competence_matrices, :id, :name) %> <%= f.submit t('searches.next', default: "Next"), class: 'btn btn-primary btn-xs' %></dd>
        </dl>
      <% end %>
    </div>
  </div>
  <div class='col-lg-3'>
  </div>
</div>

<%= render partial: 'saved_searches' %>