<div class="page-header">
  <h1><%= t('helpers.searches.title', default: "Search results") %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('searches.results_for', default: "Results for") %> <%= @search_criteria.formula %></th>
    </tr>
  </thead>
  <tbody>
    <% if @search_criteria.scope.present? %>
      <tr>
        <td><strong><%= t('searches.scope', default: 'scope').humanize %></strong>: <%= @search_criteria.scope.name %></td>
      </tr>
    <% end %>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('searches.new_search',
      default: "New search"),
      search_new_path, class: 'btn btn-default'  %>
<%= link_to t('helpers.links.back', default: "Back"),
            :back, class: 'btn btn-default' %>