<%= form_for @matrix do |f| %>
  <% if @matrix.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@matrix.errors.count, "error") %> prohibited
      this matrix from being saved:</h2>
    <ul>
    <% @matrix.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :short_description %><br>
    <%= f.text_area :short_description %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>