<h1>Listing Competencies Matrices</h1>
 
<%= link_to 'New Competencies Matrix', new_competencies_matrix_path %>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
 
  <% @matrices.each do |matrix| %>
    <tr>
      <td><%= matrix.name %></td>
      <td><%= matrix.short_description %></td>
      <td><%= link_to 'Show', competencies_matrix_path(matrix) %></td>
      <!--<td><%= #link_to 'Edit', edit_competencies_matrix(matrix) 
        %></td>-->
      <td><%= link_to 'Destroy', competencies_matrix_path(matrix),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %>