<p>
  <strong>Title:</strong>
  <%= @matrix.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @matrix.description %>
</p>

<!-- Possible Values -->
<strong>Possible Values:</strong>
<table class="table">
  <tr>
    <th>Name:</th>
    <th>Relative Value:</th>
    <th colspan="1"></th>
  </tr>
  <% @matrix.values_sets.each do |value| %>
    <tr>
      <td><%= value.name %></td>
      <td><%= value.value %></td>
      <td><%= link_to 'Destroy', competencies_matrix_value_path(@matrix, value),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <% @value = ValuesSet.new %>
  <%= form_for [@matrix, @value], url: competencies_matrix_values_path(@matrix,@value) do |f| %>
  <% if @value.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@value.errors.count, "error") %> prohibited
      this value from being saved:</h2>
    <ul>
    <% @value.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <tr>
    <td><%= f.text_field :name %></td>
    <td><%= f.number_field :value %></td>
    <td><%= f.submit %></td>td
  </tr>
<% end %>
</table>

<!-- Knowledge Area -->
<strong>Knowledge Area:</strong>
<table class="table">
  <% @matrix.knowledge_areas.each do |knowledge_area| %>
    <tr>
      <td><%= knowledge_area.name %></td>
      <td><%= link_to 'Destroy', competencies_matrix_knowledge_area_path(@matrix, knowledge_area),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <% @knowledge_area = KnowledgeArea.new %>
  <%= form_for [@matrix, @knowledge_area], url: competencies_matrix_knowledge_areas_path(@matrix,@knowledge_area) do |f| %>
  <% if @knowledge_area.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@knowledge_area.errors.count, "error") %> prohibited
      this knowledge_area from being saved:</h2>
    <ul>
    <% @knowledge_area.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <tr>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit %></td>td
  </tr>
</table>
<% end %>

<!-- Skill -->
<strong>Skills:</strong>
<table class="table">
  <% @matrix.skills.each do |skill| %>
    <tr>
      <td><%= skill.name %></td>
      <td><%= link_to 'Destroy', competencies_matrix_skill_path(@matrix, skill),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <% @skill = Skill.new %>
  <%= form_for [@matrix, @skill], url: competencies_matrix_skills_path(@matrix,@skill) do |f| %>
  <% if @skill.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@skill.errors.count, "error") %> prohibited
      this skill from being saved:</h2>
    <ul>
    <% @skill.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <tr>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit %></td>td
  </tr>
</table>
<% end %>

<%= link_to 'Back', competencies_matrices_path %>
| <%= link_to 'Edit', edit_competencies_matrix_path(@matrix) %>