<div class="page-header">
  <h1><%= t('groups.add_new', default: "Add new %{action} to %{group_name} group", action: action, group_name: @group.name) %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= action.titleize %> - <%= t('searches.results_for', default: 'Results for') %> "<%= @keyword %>"</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, { controller: "groups", action: "add_#{action}", group_id: @group.id, id: user.id }, data: { method: :post } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for :user, url: { controller: "groups",
    action: "search_#{action}", group_id: @group.id } do |f| %>
          <%= f.text_field :name %>
          <%= f.submit t('searches.new_search', default: "New search"), class: 'btn btn-primary' %>
          <%= link_to t('helpers.links.back', default: "Back"),
            :back, class: 'btn btn-default' %>
<% end %>