<%- model_class = Group -%>
<div class="page-header">
  <h1><%= t('groups.groups', default: "groups").titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('groups.name', default: "name") %></th>
      <th><%= t('helpers.actions', default: "Actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td>
          <%= link_to t('helpers.links.edit', default: "Edit"),
                      edit_group_path(group), class: 'btn btn-default btn-xs' %>
          <%= link_to t('helpers.links.destroy', default: "Delete"),
                      group_path(group),
                      method: :delete,
                      data: { confirm: t("helpers.links.confirm", default: 'Are you sure?') },
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('helpers.links.new', default: "New"),
            new_group_path,
            class: 'btn btn-primary' %>
<%= link_to t('helpers.links.back', default: "Back"),
            :back, class: 'btn btn-default' %>
