<%- model_class = User -%>
<div class="page-header">
  <h1><%= t('users.title', default: "User") %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('users.name', default: "name") %>:</strong></dt>
  <dd><%= @user.name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= t('users.email', default: "email") %>:</strong></dt>
  <dd><%= @user.email %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2"><%= t('matrices.competence_matrices', default: 'competence matrices').titleize %></th>
    </tr>
  </thead>
  <tbody>
    <% @competence_matrices.each do |competence_matrix| %>
      <tr>
        <td><%= link_to competence_matrix.name,
                      user_matrix_path(@user, competence_matrix) %></td>
        <td>
          <% if editor? @user %>
            <%= link_to t('helpers.links.edit', default: "Edit"), competences_edit_knowledge_area_path(@user, competence_matrix), class: 'btn btn-default btn-xs' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if editor? @user %>
  <%= link_to t('matrices.fill_matrices',
      default: "Fill matrices"),
      competences_edit_matrix_path(@user), class: 'btn btn-default'  %>
<% end %>
<%= link_to t('helpers.links.back', default: "Back"),
            :back, class: 'btn btn-default' %>