<dl class="dl-horizontal">
  <dt><strong>Competence Matrix:</strong></dt>
  <dd><%= @competence_matrix.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Ability:</strong></dt>
  <dd><%= @ability.name %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3">Competence <%= Value.model_name.human.pluralize %></th>        
    </tr>
    <tr>
      <th>Competence value</th>
      <th>Rank</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="values">
    <% @values.each do |value| %>
      <% if destroy? value %>
        <%= form_for value, url: competence_matrix_ability_update_path(@competence_matrix, @ability, value), method: :post do |f| %>
          <%= f.hidden_field :id %>
          <tr>
            <%= render partial: 'value_form_fields', locals: { f: f } %>
            <td>
              <%= f.submit "Save", :class => 'btn btn-primary' %>
              <%= f.submit "Delete", 
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :key => "value", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>
            <%= value.value %>
          </td>
          <td>
            <%= value.rank %>
          </td>
          <td>
            <%= link_to "Why can not I delete this value?",
                competence_matrix_ability_value_users_path(@competence_matrix, @ability, value) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <%= form_for @new_value, url: competence_matrix_ability_create_path(@competence_matrix, @ability), html: { class: "form-horizontal ability" } do |f| %>
      <tr>
        <%= render partial: 'value_form_fields', locals: { f: f } %>
        <td>
          <%= f.submit "Save", :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= error_span(@ability[:values]) %>

<%= link_to t('.back', :default => t("helpers.links.back")),
          :back, :class => 'btn btn-default' %>
