<dl class="dl-horizontal">
  <dt><strong><%= t('matrices.competence_matrix', default: "Competence matrix").titleize %>:</strong></dt>
  <dd><%= @competence_matrix.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= t('matrices.abilities.ability', default: "ability").titleize %>:</strong></dt>
  <dd><%= @ability.name %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3"><%= t('competences.values.competence_values', default: "competence values").titleize %></th>
    </tr>
    <tr>
      <th><%= t('competences.values.competence_value', default: "competence value").titleize %></th>
      <th><%= t('competences.values.rank', default: "rank").titleize %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="values">
    <% @values.each do |value| %>
      <% if destroy? value %>
        <%= form_for value, url: competence_matrix_ability_update_path(@competence_matrix, @ability, value), method: :post do |f| %>
          <%= f.hidden_field :id %>
          <tr>
            <%= render partial: 'value_form_fields', locals: { f: f } %>
            <td>
              <%= f.submit t("helpers.links.save", default: "Save"), class: 'btn btn-primary' %>
              <%= f.submit t("helpers.links.destroy", default: "Delete"),
                    data: { confirm: t('helpers.links.confirm', key: "value", default: 'Are you sure?') },
                    class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>
            <%= value.value %>
          </td>
          <td>
            <%= value.rank %>
          </td>
          <td>
            <%= t('destroy.cannot_be_destroyed', default: 'Cannot delete this %{model}.', model: t('competences.values.competence_value', default: 'value')) %> <%= link_to t('destroy.see_why', default: "See why."),
                competence_matrix_ability_value_users_path(@competence_matrix, @ability, value) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <%= form_for @new_value, url: competence_matrix_ability_create_path(@competence_matrix, @ability), html: { class: "form-horizontal ability" } do |f| %>
      <tr>
        <%= render partial: 'value_form_fields', locals: { f: f } %>
        <td>
          <%= f.submit t('helpers.links.save', default: "Save"), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("helpers.links.back", default: "Back"),
          :back, class: 'btn btn-default' %>
