<%- model_class = Competence -%>
<div class="page-header">
  <h1><%= t('competences.fill_competences', default: 'Fill Competences').titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('users.user', default: "user").titleize %>:</strong></dt>
  <dd><%= @user.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= t('matrices.competence_matrix', default: "competence matrix").titleize %>:</strong></dt>
  <dd><%= @competence_matrix.name %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('competences.choose', default: 'Choose a %{model}.', model: t('matrices.knowledge_areas.knowledge_area', default: "knowledge area")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @knowledge_areas.each do |knowledge_area| %>
      <tr>
        <td><%= link_to knowledge_area.name, competences_edit_path(@user, @competence_matrix, 
            knowledge_area) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('helpers.links.back', default: "Back"),
            :back, class: 'btn btn-default' %>