<%- model_class = Competence -%>
<div class="page-header">
  <h1><%= t('competences.fill_competences', default: 'Fill Competences').titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('users.user', default: "user").titleize %>:</strong></dt>
  <dd><%= @user.name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= t('matrices.competence_matrix', default: "competence matrix").titleize %>:</strong></dt>
  <dd><%= @competence_matrix.name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= t('matrices.knowledge_areas.knowledge_area', default: "knowledge area").titleize %>:</strong></dt>
  <dd><%= @knowledge_area.name %></dd>
</dl>

<%= form_tag competences_save_path(@user, @competence_matrix, @knowledge_area), method: :post do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('matrices.abilities.ability', default: "ability").titleize %></th>
        <th><%= t('competences.values.competence_value', default: "competence value").titleize %></th>
      </tr>
    </thead>
    <tbody>
      <% @competences.each do |competence| %>
        <tr>
          <%= fields_for "competences[]", competence, index: nil do |f| %>
            <%= f.hidden_field :id, value: competence.id %>
            <%= f.hidden_field :knowledge_area_id, value: @knowledge_area.id %>
            <%= f.hidden_field :ability_id, value: competence.ability.id %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <td><%= competence.ability.name %></td>
            <td><%= f.collection_select :value_id, collection_for_select_value(competence.ability), :id, :value, { include_blank: t('competences.values.none', default: "None") }, { selected: competence.value_id } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag t('helpers.links.save', default: "Save"), class: 'btn btn-primary' %>
  
  <%= link_to t('helpers.links.back', default: "Back"),
            :back, class: 'btn btn-default' %>
<% end %>