<%- model_class = Competence -%>
<div class="page-header">
  <h1><%=t '.title', default: [:'helpers.titles.edit', 'Fill Competences'], model: model_class.model_name.human.pluralize.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Person:</strong></dt>
  <dd><%= @user.name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= CompetenceMatrix.model_name.human.titleize %>:</strong></dt>
  <dd><%= @competence_matrix.name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%= KnowledgeArea.model_name.human.titleize %>:</strong></dt>
  <dd><%= @knowledge_area.name %></dd>
</dl>

<%= form_tag competences_save_path(@user, @competence_matrix, @knowledge_area), method: :post do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Ability.model_name.human %></th>
        <th>Competence value</th>
      </tr>
    </thead>
    <tbody>
      <% @competences.each do |competence| %>
        <tr>
          <%= fields_for "competences[]", competence, index: nil do |f| %>
            <%= f.hidden_field :id, value: competence.id %>
            <%= f.hidden_field :knowledge_area_id, value: @knowledge_area.id %>
            <%= f.hidden_field :ability_id, value: competence.ability.id %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <td><%= competence.ability.name %></td>
            <td><%= f.collection_select :value_id, collection_for_select_value(competence.ability), :id, :value, { include_blank: "None" }, { selected: competence.value_id } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Save", :class => 'btn btn-primary' %>
  
  <%= link_to t('.back', :default => t("helpers.links.back")),
            :back, :class => 'btn btn-default' %>
<% end %>