<%- model_class = Competence -%>
<div class="page-header">
  <h1><%= t('competences.fill_competences', default: 'Fill Competences').titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('users.user', default: "user").titleize %>:</strong></dt>
  <dd><%= @user.name %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('competences.choose', default: 'Choose a %{model}.', model: t('matrices.competence_matrix', default: "competence matrix")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @competence_matrices.each do |competence_matrix| %>
      <tr>
        <td><%= link_to competence_matrix.name, competences_edit_knowledge_area_path(@user, competence_matrix) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('helpers.links.back', default: "Back"),
            :back, class: 'btn btn-default' %>