<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title><%= content_for?(:title) ? yield(:title) : "SYSCOMA" %></title>

    <link type="text/plain" rel="author" href="humans.txt" />
    <%= javascript_include_tag :modernizr %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

    <%= csrf_meta_tags %>
    
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon' %>

  </head>

  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Syscoma</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
            <% else %>
              <%= #link_to "Sign up", new_user_registration_path, class: 'navbar-link'
                %> <!--| TODO Registration process should be configurable by the administer-->
              <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <% if user_signed_in? %>
                <h3><%= current_user.name %></h3>
                <li class="nav-header"><%= link_to "Search", search_new_path  %></li>
                <% if current_user.admin? %>
                  <li class="nav-header">Competence Matrices</li>
                  <li><%= link_to "See definitions", competence_matrices_path  %></li>
                  <li><%= link_to "New definition", new_competence_matrix_path  %></li>
                  <li class="nav-header">Persons</li>
                  <li><%= link_to "Manage persons", users_path  %></li>
                  <li><%= link_to "Add person", new_user_path  %></li>
                  <li class="nav-header">Groups</li>
                  <li><%= link_to "Manage groups", groups_path  %></li>
                <% end %>
                <% if @managed_groups.any? %>
                  <% if !current_user.admin? %>
                    <li class="nav-header">Groups</li>
                  <% end %>
                  <% @managed_groups.each do |group| %>
                    <li><%= link_to group.name, group  %></li>
                  <% end %>
                <% end %>
                <li class="nav-header">Profile</li>
                <li><%= link_to "See profile", user_path(current_user)  %></li>
                <li><%= link_to "Fill competences", competences_edit_matrix_path(current_user)  %></li>
              <% else %>
                <!--<li>--><%= #link_to "Sign up", new_user_registration_path, class: 'navbar-link'  
                %><!--</li>-->
                <li><%= link_to "Login", new_user_session_path, class: 'navbar-link'  %></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="col-lg-9">
          <%= yield %>
        </div>
        
      </div><!--/row-->

      <footer>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
